<nav class="custom">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/">
        foodhunter.com
      </a>
    </div>
    <div class="navbar-links">
      <ul>
        <li>
          <a mat-button routerLink="/foodmaps">Foodmaps</a>
        </li>
        <ng-container *ngIf="!isAuthenticated()">
          <li class="navbar-links-right">
            <a mat-button routerLink="/signup">Register</a>
          </li>
          <li>
            <a mat-button routerLink="/signin">Login</a>
          </li>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
          <li class="navbar-links-right">
            <a mat-button (click)="onLogout()" *ngIf="isAuthenticated()">Logout</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>