.navstyle{
    display:flex;
    justify-content: flex-end
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 3 0 auto;
    
  }